
@(message: String)


@main(message) {
<script type="text/javascript">
    /* Table initialisation */
    //
    $(document).ready(function() {

        $('#progs_table').DataTable( {
            "PaginationType": "bootstrap",
            "responsive": true,
            "bProcessing": true,
            "aaSorting": [[ 0, "asc" ]],
            "bServerSide": true,
            "sAjaxSource": "@routes.CProgs.progslist()",
            dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
            "aoColumns": [
                { "mDataProp": "ProgName" },
                { "mDataProp": "ProgDept" },
                { "mDataProp": "ProgLevel" },

                {
                    "mDataProp": null,
                    "mRender": function(obj) {
                        var sReturn = obj.eid;
                        var returnButton = "<a class='hidden-xs' href='/renderEditProg?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></button> </a>";
                        return  returnButton;

                    }

                },


                {
                    "mDataProp": null,
                    "mRender": function(obj) {
                        var sReturn = obj.eid;
                        var status = obj.isActive;
                        if(status==1){

                            var deactivateButton = "<a class='hidden-xs' href='/DeactivateProg?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-danger btn-xs'>DEACTIVATE<i class='fa fa-close'/></button></a>";
                            return  deactivateButton;
                        }
                        else{
                            var activateButton = "<a class='hidden-xs'  href='/ActivateProg?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-success btn-xs'>ACTIVATE<i class='fa fa-check'/></button></a>";
                            return  activateButton;
                        }
                    }
                },
            ]

        } );

    } );

</script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Programmes List


                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a class="t-close fa fa-times" href="javascript:;"></a>
              <a href="@routes.CProgs.renderProgs()" class="button">Add Programme</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="progs_table">
                    <thead>
                    <tr>
                        <th>
                            ProgName
                        </th>

                        <th>
                            ProgDept
                        </th>

                        <th>
                            ProgLevel
                        </th>

                        <th>
                            Edit Programme
                        </th>

                        <th>Act/Diactivate</th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>



}