
@(message: String, unitoptions: Map[String, String])

@main("Select Unit") {
<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>

<div ng-app="myApp" ng-controller="myCtrl">

<form method="post" class="panel" role="form" ng-submit="search()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Select Unit
            </h3>


            <br>
            <br>
            <div class="form-group clearfix">
                <label class="col-lg-2 col-md-3 control-label">Unit</label>

                <div class="col-lg-7 col-md-6">
                    <select class="form-control  select2"  data-activates='dropdown1' name="Unit" ng-model="Unit">
                        @for((key, value) <- unitoptions) {
                        @if(unitoptions!=null){
                        <option value="@value"> @value </option>
                        }else{
                        <option>No Unit Found</option>
                        }
                        }
                    </select>
                </div>

                <p class="submit col-lg-3 col-md-3">
                    <input  class="btn btn-send m-b-10" type="submit" name="commit" value="View attendance" ng-click="search()">
                </p>

            <br>
            <br>

        </div>

            <table class="table responsive-data-table data-table" ng-show="attendance" >
                <thead>
                <tr>
                    <th>yid</th>
                    <th>StudentName</th>
                    <th>RegNumber</th>
                    <th>StudentProg</th>
                    <th>Unit</th>
                    <th>UnitProg</th>
                    <th>Lecturer</th>
                    <th>Attendance</th>
                    <th>isUploaded</th>
                </tr>
                </thead>
                <tr>
                    <td>{{attendance.yid}}</td>
                    <td>{{attendance.StudentName}}</td>
                    <td>{{attendance.RegNumber}}</td>
                    <td>{{attendance.StudentProg}}</td>
                    <td>{{attendance.Unit}}</td>
                    <td>{{attendance.UnitProg}}</td>
                    <td>{{attendance.Lecturer}}</td>
                    <td>{{attendance.Attendance}}</td>
                    <td>{{attendance.isUploaded}}</td>
                </tr>
            </table>

    </div>

</form>

</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $scope.attendance = null;
        //$scope.isEditing= false;
        $scope.search = function (){

            if ($scope.Unit == null || $scope.Unit == ""){

                swal({
                    type: 'warning',
                    title: 'Please select a unit',
                    showConfirmButton: true
                });
            }else {
                $http({
                    url: 'http://localhost:9000/GetUnit ',
                    method: "POST",
                    data: {"Unit": $scope.Unit}
                })
                    .then(function (response) {

                        if(response.data.responseCode == "200"){
                            swal({
                                type: 'error',
                                title: 'No attendance found for this unit',
                                showConfirmButton: true
                            });
                        }else{
                            $scope.attendance =response.data.responseCode;
                            //$scope.isEditing = true;
                        }
                    });
            }
        };


        $scope.cancel = function () {
            $scope.Unit = "";
            //$scope.isEditing = false;
            $scope.attendance = null;
        };


        $scope.sub = function (){

            $http({
                url: 'http://localhost:9000/Pass_details ',
                method: "POST",
                data: {"Unit": $scope.Unit}
            })
                .then(function (response) {

                    if(response.data.responseCode == "501"){
                        swal({
                            type: 'error',
                            title: 'Failed to update record',
                            showConfirmButton: true
                        });
                    }else if(response.data.responseCode == "502"){
                        swal({
                            type: 'warning',
                            title: 'Record already updated',
                            showConfirmButton: true
                        });
                    }else{
                        swal({
                            position: 'top-end',
                            type: 'success',
                            title: 'Record updated Successfully',
                            showConfirmButton: false,
                            timer: 2000
                        });

                        $scope.search();

                    }

                });
        }
    });
</script>

<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="@routes.Assets.at("package/dist/sweetalert2.js")"></script>
<script src="@routes.Assets.at("package/dist/sweetalert2.all.js")"></script>
<script src="@routes.Assets.at("package/dist/sweetalert2.css")"></script>


}