
@(message: String, unitoptions: Map[String, String])

@main("Select Unit") {
<script type="text/javascript">
    /* Table initialisation */
    //
    $(document).ready(function() {

        $('#attendance_table').DataTable( {
            "PaginationType": "bootstrap",
            "responsive": true,
            "bProcessing": true,
            "aaSorting": [[ 0, "asc" ]],
            "bServerSide": true,
            "mDataProp": null,
            //change this ...
            "sAjaxSource": "@routes.CStudentAttendance.renderViewStudentAttendance()",
            dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
            "aoColumns": [
                {
                    "mDataProp": null,
                    "mRender": function(obj) {
                        var sReturn = obj.fid;
                        var returnButton = "<a class='hidden-xs' href='/renderEditUnit?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-primary btn-xs'>AAAAAAA<i class='fa fa-pencil'></i></button> </a>";
                        return  returnButton;

                    }

                },

            ]

        } );

    } );

</script>

<form method="post" class="panel" role="form" action="@routes.CStudentAttendance.renderViewStudentAttendance()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Edit Unit
            </h3>


            <br>
            <br>
            <div class="form-group clearfix">
                <label class="col-lg-3 col-md-4 control-label">Unit</label>

                <div class="col-lg-9">
                    <select class="form-control  select2"  data-activates='dropdown1' name="Unit" >
                        @for((key, value) <- unitoptions) {
                        @if(unitoptions!=null){
                        <option value="@key"> @value </option>
                        }else{
                        <option>No Unit Found</option>
                        }
                        }
                    </select>
                </div>


            <br>
            <br>
            <p class="submit"><input  class="btn btn-primary m-b-10" type="submit" name="commit" value="View attendance"></p>
        </div>
    </div>

</form>


}