
@(message: String)


@main(message) {
<script type="text/javascript">
    /* Table initialisation */
    //
    $(document).ready(function() {

        $('#attendance_table').DataTable( {
            "PaginationType": "bootstrap",
            "responsive": true,
            "bProcessing": true,
            "aaSorting": [[ 0, "asc" ]],
            "bServerSide": true,
            "sAjaxSource": "@routes.CStudentAttendance.attendancelist()",
            dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
            "aoColumns": [
                { "mDataProp": "StudentName" },
                { "mDataProp": "RegNumber" },
                { "mDataProp": "StudentProg" },
                { "mDataProp": "Unit" },
                { "mDataProp": "UnitProg" },
                { "mDataProp": "Lecturer" },
                { "mDataProp": "Attendance" },
                { "mDataProp": "isUploaded" },

            ]

        } );

    } );

</script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Attendance List


                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a class="t-close fa fa-times" href="javascript:;"></a>
              <a href=" " class="button">Attendance</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="attendance_table">
                    <thead>
                    <tr>
                        <th>
                            StudentName
                        </th>

                        <th>
                            RegNumber
                        </th>

                        <th>
                            StudentProg
                        </th>

                        <th>
                            Unit
                        </th>

                        <th>
                            UnitProg
                        </th>

                        <th>
                            Lecturer
                        </th>

                        <th>
                            Attendance
                        </th>

                        <th>
                            isUploaded
                        </th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>



}