
@(message: String)


@main(message) {
<script type="text/javascript">
    /* Table initialisation */
    //
    $(document).ready(function() {

        $('#studs_table').DataTable( {
            "PaginationType": "bootstrap",
            "responsive": true,
            "bProcessing": true,
            "aaSorting": [[ 0, "asc" ]],
            "bServerSide": true,
            "sAjaxSource": "@routes.CStud.studslist()",
            dom: '<"tbl-top clearfix"lfr>,t,<"tbl-footer clearfix"<"tbl-info pull-left"i><"tbl-pagin pull-right"p>>',
            "aoColumns": [
                { "mDataProp": "StudName" },
                { "mDataProp": "RegNo" },
                { "mDataProp": "Prog" },
                { "mDataProp": "Year" },
                { "mDataProp": "Sem" },

                {
                    "mDataProp": null,
                    "mRender": function(obj) {
                        var sReturn = obj.gid;
                        var returnButton = "<a class='hidden-xs' href='/renderEditUser?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+">  <button class='btn btn-primary btn-xs'><i class='fa fa-pencil'></i></button> </a>";
                        return  returnButton;

                    }

                },


                {
                    "mDataProp": null,
                    "mRender": function(obj) {
                        var sReturn = obj.gid;
                        var status=   obj.status;
                        if(status==1){
                            var deactivateButton = "<a class='hidden-xs' href='/deleteSystemUser?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-success btn-xs'><i class='fa fa-check'></i></button> </a>";
                            return  deactivateButton;
                        }else{
                            var sReturn = obj.gid;
                            var activateButton = "<a class='hidden-xs' href='/deleteSystemUser?id="+sReturn+"' id='cedit' style='float: center'  data-title="+sReturn+"><button class='btn btn-danger btn-xs'><i class='fa fa-close'></i></button></a>";
                            return  activateButton;

                        }}
                },
            ]

        } );

    } );

</script>

<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-sm-11">
            <section class="panel">
                <header class="panel-heading ">
                    Students List


                    <span class="tools pull-right">
              <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
              <a class="t-close fa fa-times" href="javascript:;"></a>
              <a href="@routes.CStud.renderStuds()" class="button">Add Student</a>
            </span>
                </header>
                <table class="table responsive-data-table data-table" id="studs_table">
                    <thead>
                    <tr>
                        <th>
                            StudName
                        </th>

                        <th>
                            RegNo
                        </th>

                        <th>
                            Prog
                        </th>

                        <th>
                            Year
                        </th>

                        <th>
                            Sem
                        </th>

                        <th>
                            Edit Student
                        </th>

                        <th>Act/Diactivate</th>

                    </tr>
                    </thead>
                </table>
            </section>
        </div>
    </div>

</div>



}