@(message: String,user: MUsers)

@main("Edit users") {

<form method="post" class="panel" role="form" action="@routes.CUsers.EditUsers(user.aid)">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Edit User
            </h3>


            <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Email</label>

                <div class="col-lg-9 col-md-8">
                    <input type="email" class=" form-control" rows="1" name="Email" required value="@user.Email" ></input>
                </div>

            </div>

            <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">Password</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="Password" required value="@user.Password" ></input>
                </div>

            </div>


            <br>
            <br>
            <p class="submit"><input  class="btn btn-primary m-b-10" type="submit" name="commit" value="Update User">
                <a class="btn btn-danger m-b-10" href="@routes.CUsers.renderViewUsers()">Cancel</a></p>
        </div>
    </div>

</form>


}
