@(message: String, options: Map[String, String])

@main("Add Department") {

<form method="post" class="panel" role="form" action="@routes.CDept.addDept()">
    <div class="wrapper">

        <div class="page-head">
            <h3 class="m-b-less">
                Add Departments
            </h3>


            <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">DeptName</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="DeptName" placeholder="Enter Department name" ></input>
                </div>

            </div>

            <br>
            <br>
            <div class="form-group clearfix">
                <label class="col-lg-3 col-md-4 control-label">DeptFaculty</label>

                <div class="col-lg-9">
                    <select class="form-control  select2"  data-activates='dropdown1' name="DeptFaculty" >
                        @for((key, value) <- options) {
                        @if(options!=null){
                        <option value="@value"> @value </option>
                        }else{
                        <option>No Faculty Found</option>
                        }
                        }
                    </select>
                    <!--<input type="text" class=" form-control" rows="1" name="DeptFaculty" placeholder="Enter Faculty" ></input>-->
                </div>

            </div>

            <br>
            <br>
            <div class="form-group">
                <label class="col-lg-3 col-md-4 control-label">DeptHead</label>

                <div class="col-lg-9 col-md-8">
                    <input type="text" class=" form-control" rows="1" name="DeptHead" placeholder="Enter Head of Department" ></input>
                </div>

            </div>

            <br>
            <br>
            <p class="submit"><input  class="btn btn-primary m-b-10" type="submit" name="commit" value="Add Department">
                <a class="btn btn-danger m-b-10" href="">Cancel</a></p>
        </div>
    </div>

</form>


}
